header {
    background-color: #F2BE24;

}

h1 {    
    font-size: 4.2em;
    color: #D94C1A;
    line-height: 2.5;
    text-align: center;
    margin-block-start: 0em;
}

.img-header {
    line-height: 2.5;
    background: none;
    width: 100px;
    height: auto;
    margin-right: 10px;
}